{% block content %}

<div class="cta">
    <div class="cta--main">
    <h1>Griddler</h1>
    <p>
        This is a simple Sass based grid built using the calc() CSS unit to size the grids. While calc() has fairly good browser support at this <a href="http://caniuse.com/calc">point</a>, be aware that it does not work well with older browsers.
    </p>
    </div>
</div>

<div class="usage">
    <div class="usage--instructions">
        <h2>Example Responsive Grid</h2>
        <p>
            The default grid is set-up as a flexible 12 width grid with a 1em margin at the larger size, and 1/2em at the smaller size. Each of these can be adjusted in the "_grid.scss" partial.
        </p>
    </div>
    <div class="usage--examples">
        <div class="small"></div>
        <div class="small"></div>
        <div class="small"></div>
        <div class="small"></div>
        <div class="small"></div>
        <div class="small"></div>
        <div class="small"></div>
        <div class="small"></div>
        <div class="small"></div>
        <div class="small"></div>
        <div class="small"></div>
        <div class="small"></div>
        <div class="medium"></div>
        <div class="medium"></div>
        <div class="medium"></div>
        <div class="large"></div>
        <div class="large"></div>
        <div class="full"></div>
    </div>
</div>
{% endblock %}